@import "tailwindcss";
@config "../tailwind.config.js";

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.glass-header {
  background: rgba(249, 249, 249, 0.8);
  backdrop-filter: blur(20px);
}
.editorial-spread-text {
  text-shadow: 0 0 40px rgba(0,0,0,0.05);
}
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-450px * 4 - 1.5rem * 4)); }
}
.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}
.animate-scroll:hover {
  animation-play-state: paused;
}
